<div class="top_bar_sites_selector {% if currentModule == 'CoreHome' %}sites_selector_in_dashboard{% endif %}">
    <a href="index.php?module=UserCreatedWebsite&action=createNewSite" style="float:left; position:relative; top:7px; right:14px; z-index:10000">Create New Site</a>
    <label>{{ 'General_Website'|translate }}</label>
    <div piwik-siteselector class="sites_autocomplete"></div>
</div>