
@theme-color-brand:                    #009dd3;
@theme-color-brand-contrast:           #ffffff;

@theme-color-widget-title-text:        #dbdcdd;
@theme-color-widget-title-background:  #2b3036;
@theme-color-widget-shadow:            rgba(25, 31, 37, 0.175);

@theme-color-menu-contrast-text:       #dbdcdd;
@theme-color-menu-contrast-textActive: #ffffff;
@theme-color-menu-contrast-background: #2b3036;

@theme-color-text:                     #eeeeef;
@theme-color-text-light:               #dbdcdd;
@theme-color-text-lighter:             #b5b6b8;
@theme-color-link:                     #009dd3; 

@theme-color-background-base:          #191f25; 
@theme-color-background-tinyContrast:  #2b3036;
@theme-color-background-lowContrast:   #3b4246;
@theme-color-background-contrast:      #4c5457;
@theme-color-background-highContrast:  #8f9194;
@theme-color-base-series:              #000000;

@graph-colors-data-series1:            #009dd3; /*blue*/
@graph-colors-data-series2:            #b32a5f; /*red*/
@graph-colors-data-series3:            #d45a28; /*red-orange*/
@graph-colors-data-series4:            #f59d4c; /*orange*/
@graph-colors-data-series5:            #ecc44d; /*yellow*/
@graph-colors-data-series6:            #5a9e5a; /*green*/
@graph-colors-data-series7:            #32838c; /*teal*/
@graph-colors-data-series8:            #814481; /*purple*/