
@theme-fontFamily-base: Ubuntu, Calibri, sans-serif;

@theme-color-brand:                    #d4291f;
@theme-color-brand-contrast:           #ffffff;

@theme-color-widget-title-text:        #0d0d0d;
@theme-color-widget-title-background:  #f2f2f2;

@theme-color-menu-contrast-text:       #666666;
@theme-color-menu-contrast-textActive: #0d0d0d;
@theme-color-menu-contrast-background: #f2f2f2;

@theme-color-text:                     #0d0d0d;
@theme-color-text-light:               #444444;
@theme-color-text-lighter:             #666666;
@theme-color-link:                     #1e93d1;

@theme-color-background-base:          #fff;
@theme-color-background-tinyContrast:  #f2f2f2;
@theme-color-background-lowContrast:   #cccccc;
@theme-color-background-contrast:      #5F5A60;
@theme-color-background-highContrast:  #202020;
@theme-color-base-series:              #ee3024;

@graph-colors-data-series1:            #d4291f;
@graph-colors-data-series2:            #1f78b4;
@graph-colors-data-series3:            #ff7f00;
@graph-colors-data-series4:            #33a02c;
@graph-colors-data-series5:            #6a3d9a;
@graph-colors-data-series6:            #b15928;
@graph-colors-data-series7:            #fdbf6f;
@graph-colors-data-series8:            #cab2d6;
    


@import "_general.less";
@import "_layout.less";
@import "_login.less";
@import "_admin.less";
@import "_menuDashboard.less";
@import "_menuAdmin.less";
@import "_widget.less";
@import "_dataTable.less";
@import "_sparklineColors.less";
@import "_jqplot.less";
@import "_jqplotColors.less";
@import "_ui.less";
@import "_transitionColors.less";
@import "_map.less";
/*
@import "controls/_periodSelect.less";
@import "controls/_segmentSelect.less";
@import "controls/_widgetSelect.less";
@import "controls/_headerMessage.less";
@import "controls/_siteSelect.less";
@import "plugins/_multiSites.less";
@import "plugins/_referrers.less";
@import "plugins/_userManager.less";
@import "plugins/_userCountry.less";
@import "plugins/_dbStats.less";
@import "plugins/_installation.less";
@import "plugins/_live.less";
*/
